*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #0f033b;
}
.contenedor{
    width: 1000px;
    padding: 30px;
    padding-top: 5px;
    border-radius: 20px;
    background: #fff;
}
#navbar .titulito {
    width: 100%;
    text-align: center;
    justify-items: center;
    align-items: center;
}
/* contenedor.contenedorAux .panelEditor */
.contenedor .controles .iconito{
    display: none;
}
.contenedor h2{
    justify-content: center;
    font-size: 27px;
    font-weight: 900;
}

.contenedor .contenedorEdicion{
    display: flex;
    margin: 20px 0;
    /* min-height: 450px; */
}

.contenedorEdicion .panelEditor{
    padding: 10px;
    width: 300px;
    border: 3px solid #746f6f;
    border-radius: 10px;
}

.panelEditor .titulo{
    display: block;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 14px;
}

.panelEditor button{
    height: 40px;
    font-size: 15px;
    color: #6c757d;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 9px;
    border: 1px solid #929191;
    cursor: pointer;
    width: calc(100% / 2 - 4px);
}

/* .panelEditor .filtros button */

.panelEditor button:hover{
    background: #b4b3e8;
    color: #000;
}

.filtros button.activo{
    border-color: #6338ff;
    color: #fff;
    background: #6338ff;
}

/* .filtros .deslizante{
    margin-top: 2px;
} */

.filtros .deslizante .filtroInformacion{
    display: flex;
    color: #464646;
    font-size: 18px;
    justify-content: space-between;
}

.filtros .deslizante input{
    margin-bottom: 18px;
    width: 100%;
    height: 9px;
    accent-color: #6338ff;
}

.panelEditor .rotaciones .opciones{
    margin-bottom:15px ;
}   

.panelEditor .rotaciones button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rotaciones .opciones button:active{
    color: #fff;
    background: #6338ff;
    border-color: #6338ff;
}

.contenedorEdicion .vistaImg{
    flex-grow: 1;
    display: flex;
    overflow: hidden;  /* si la imagen es grande y se desborda */
    margin-left: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.vistaImg img{
    /* opacity: 0.3; */
    max-width: 580px;
    max-height: 485px;
    width: 100%;
    height: 100%;
    object-fit: contain; /* para que la imagen se reajuste a su contenedor */
}

.controles button{
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 550;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.controles .resetear{
    color: #6c757d;
    border: 2px solid #6c757d;
}

.controles .resetear:hover{
    background: #023504;
    color: #fff;
    border: 2px solid #023504;
}
.controles .borrarSesion {
    color: #6c757d;
    border: 2px solid #6c757d;
}

.controles .borrarSesion:hover {
    background: #023504;
    color: #fff;
    border: 2px solid #023504;
}
.controles .insertar{
    color: #6c757d;
    border: 2px solid #6c757d;
}

.controles .insertar:hover{
    background: #023504;
    color:#fff;
    border: 2px solid #023504;
}

.controles .guardarImg{
    color: #6c757d;
    border: 2px solid #6c757d;
}

.controles .guardarImg:hover{
    background: #023504;
    color:#fff;
    border: 2px solid #023504;
}

@media screen and (max-width: 900px){
    html {
        scroll-behavior: smooth;
    }
    .contenedor{
        padding: 20px;
        padding-top: 0;
        border-radius: 0;
    }
    .contenedor .contenedorEdicion{
        flex-wrap: wrap-reverse;
    }
    .contenedorEdicion .panelEditor{
        width: 100%;
    }
    .contenedor .contenedorEdicion .vistaImg{
        height: 60vh;
        width: 60vw;
        margin: 0 0 15px;
    }
    .contenedor .controles .iconito{
        display: block;
        text-align: left;
        font-size: 30px;
    }
    .contenedor .controles .iconito i{
        color: #000000;
    }
    .contenedor .controles .iconito i:hover{
        background-color: #6338ff;    
    }
    .contenedor .controles.responsive button {
        display: block;
        text-align: left;
    }
    .contenedor .controles button{
        display: none;
    }
    .contenedor .contenedorEdicion .panelEditor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor .contenedorEdicion .panelEditor .rotaciones .rotacionesContenedor{
        display: flex;
        flex-direction: row;  
    }
    .contenedor .contenedorEdicion .panelEditor .rotaciones .rotacionesContenedor .opciones{
        display: flex;
        margin-right: 20px;
    }
    .contenedor .contenedorEdicion .panelEditor .rotaciones .rotacionesContenedor .opciones button{
        margin-left: 10px;
        margin-right: 10px;
    }
    #navbar{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    #navbar .titulito{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 500px){
    html{
        scroll-behavior: smooth;
        width: 100%;
    }
    .contenedor{
        padding: 20px;
        padding-top: 0;
        border-radius: 0;
    }
    .contenedor button{
        width: 100%;
        margin-bottom: 15px;
    }
    #navbar .titulito{
        width: 100%;
        text-align: center;
    }
    .controles .resetear{
        margin-left: 0;
        width:100%;
    }
    .contenedor .contenedorEdicion .vistaImg{
        height: 60vh;
        width: 60vw;
    }
    .controles .imgOpciones{
        width: 100%;
    }
    .contenedor .controles .navbar .iconito{
        text-align: right;
        font-size: 30px;
    }
    .contenedor .controles .iconito i{
        color: #000000;
    }
    .contenedor .controles .iconito i:hover{
        background-color: #6338ff;    
    }
    .contenedor .controles.responsive button {
        display: block;
        text-align: center;
    }
    .contenedor .controles button{
        display: none;
    }
    .contenedor .contenedorEdicion .panelEditor .rotaciones .rotacionesContenedor{
        display: flex;
        flex-direction: row;  
    }
    .contenedor .contenedorEdicion .panelEditor .rotaciones .rotacionesContenedor .opciones{
        display: flex;
        margin-right: 20px;
    }
    .contenedor .contenedorEdicion .panelEditor .rotaciones .rotacionesContenedor .opciones button{
        margin-left: 8px;
        margin-right: 8px;
    }
    #navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}